.post-card{
    width: 692px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-top: 16px;
}
.card-text{
    padding: 20px;
}
.title-text{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 134.17%; 
}
.description-text{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 134.17%;
    color: #5C5C5C;
}
.name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    padding-left: 10px;
}
.views{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    margin-right: 8.75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    margin-left: 10px;
}
.share{
    width: 42px;
    background: #EDEEF0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-gap{
    margin-left: 10px;
}
.button{
    width: 652px;
    height: 38px;
    background: #FFFFFF;
    border: 0.7px dashed #A9AEB8;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 16px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140.4%;
    text-align: center;
}
.date-location{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;

}
.threeDot{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 120px;
}
.threeDot-btn{
    border: 0;
    background: none;
}
@media only screen and (max-width: 425px) {
    .post-card{
        width: 360px;
    }
    .button{
        width: 320px;
    }
}